@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;600;700;&display=swap");
.subscription .sub-price, .hero .hero-text h1 {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
}

.countdown-wrap .countdown #days,
.countdown-wrap .countdown #hours,
.countdown-wrap .countdown #minutes,
.countdown-wrap .countdown #seconds, .countdown-wrap, .footer-wrap, .subscription {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

form input[type=submit], .countdown-wrap button, .hero .hero-text button {
  width: 171px;
  color: #fff;
  background-color: #5175ff;
  line-height: 28px;
  padding: 14px 0;
  border: none;
  border-radius: 28px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
}
form input[type=submit]:hover, .countdown-wrap button:hover, .hero .hero-text button:hover {
  cursor: pointer;
}

.subscription .sub-price, .hero .hero-text h1 {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
}

.countdown-wrap .countdown #days,
.countdown-wrap .countdown #hours,
.countdown-wrap .countdown #minutes,
.countdown-wrap .countdown #seconds, .countdown-wrap, .footer-wrap, .subscription {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

form input[type=submit], .countdown-wrap button, .hero .hero-text button {
  width: 171px;
  color: #fff;
  background-color: #5175ff;
  line-height: 28px;
  padding: 14px 0;
  border: none;
  border-radius: 28px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
}
form input[type=submit]:hover, .countdown-wrap button:hover, .hero .hero-text button:hover {
  cursor: pointer;
}

.hero {
  display: flex;
  flex-flow: column;
  align-items: center;
  background: url("../assets/home/bg-pattern-header.svg"), url("../assets/home/bg-pattern-header.svg");
  background-position-x: center;
  background-position-y: -170px;
  background-repeat: no-repeat;
  background-size: 458px;
}
.hero .logo {
  margin: 40px 0;
  padding: 0;
  justify-content: center;
}
.hero .logo img {
  justify-self: center;
  width: 155px;
}
.hero .hero-images {
  margin: 40px 0;
  padding: 0;
  justify-content: center;
}
.hero .hero-images img {
  width: 171px;
}
.hero .hero-text {
  width: 327px;
  text-align: center;
}
.hero .hero-text h1 {
  font-size: 40px;
  color: #333950;
  line-height: 48px;
}
.hero .hero-text p {
  font-family: "Kumbh Sans", sans-serif;
  color: #757B95;
  line-height: 26px;
  margin-bottom: 24px;
}
.hero .hero-text button {
  box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.247159);
  transition: 0.25s;
}
.hero .hero-text button:active {
  margin-top: 15px;
  box-shadow: 0px 5px 10px 0px rgba(23, 51, 154, 0.247159);
  transition: 0.25s;
}

.subscription .sub-price, .hero .hero-text h1 {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
}

.countdown-wrap .countdown #days,
.countdown-wrap .countdown #hours,
.countdown-wrap .countdown #minutes,
.countdown-wrap .countdown #seconds, .countdown-wrap, .footer-wrap, .subscription {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

form input[type=submit], .countdown-wrap button, .hero .hero-text button {
  width: 171px;
  color: #fff;
  background-color: #5175ff;
  line-height: 28px;
  padding: 14px 0;
  border: none;
  border-radius: 28px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
}
form input[type=submit]:hover, .countdown-wrap button:hover, .hero .hero-text button:hover {
  cursor: pointer;
}

#subscriptions {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 890px;
}

.subscription {
  font-family: "Kumbh Sans", sans-serif;
  width: 327px;
  height: 508px;
  background: #fff;
  border-radius: 13px;
  margin: 16px 0;
}
.subscription:first-of-type {
  margin-top: 0;
}
.subscription:last-of-type {
  margin-bottom: 0;
}
.subscription .sub-name {
  width: 100%;
  text-align: center;
  font-size: 20px;
  margin: 0;
  padding: 40px 0 32px;
  color: #333950;
}
.subscription .sub-price {
  flex-grow: 0;
  width: 100%;
  font-size: 56px;
  line-height: 64px;
  text-align: center;
  margin: 8px 0;
  padding: 0;
  color: #333950;
}
.subscription p {
  color: #333950;
  line-height: 28px;
  margin: 0;
  color: #333950;
}
.subscription .features {
  justify-content: center;
  width: 100%;
  margin: 48px 0 39px;
  padding: 0;
}
.subscription .features li {
  list-style: none;
  text-align: center;
  line-height: 28px;
  color: #757B95;
  padding: 8px 0;
}
.subscription .features li:first-of-type {
  padding-top: 0;
}
.subscription .features li:last-of-type {
  padding-bottom: 0;
}
.subscription button {
  width: 171px;
  background-color: rgba(81, 116, 255, 0.1526);
  color: #5175ff;
  font-size: 16px;
  line-height: 28px;
  padding: 14px 0;
  margin: 0 0 40px;
  border: none;
  border-radius: 28px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
}
.subscription:hover {
  background: url("../assets/home/bg-pattern-pricing.svg"), url("../assets/home/bg-pattern-pricing.svg");
  background-color: #5175ff;
  background-position: -277px -379px, -230px -170px;
  background-repeat: no-repeat, no-repeat;
  background-size: 879px;
  box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
  transition: 0.2s;
}
.subscription:hover .sub-name,
.subscription:hover .sub-price,
.subscription:hover p,
.subscription:hover .features li {
  color: #fff;
}
.subscription:hover .features li {
  opacity: 0.75;
}
.subscription:hover button {
  background-color: #fff;
  color: #5175ff;
}
.subscription:hover button:hover {
  background-color: #f0f0f0;
  transition: 0.3s;
  cursor: pointer;
}
.subscription:hover button:active {
  background-color: #e0e0e0;
}

.hero .hero-text h1, .subscription .sub-price {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
}

.countdown-wrap .countdown #days,
.countdown-wrap .countdown #hours,
.countdown-wrap .countdown #minutes,
.countdown-wrap .countdown #seconds, .countdown-wrap, .footer-wrap, .subscription {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

form input[type=submit], .countdown-wrap button, .hero .hero-text button {
  width: 171px;
  color: #fff;
  background-color: #5175ff;
  line-height: 28px;
  padding: 14px 0;
  border: none;
  border-radius: 28px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
}
form input[type=submit]:hover, .countdown-wrap button:hover, .hero .hero-text button:hover {
  cursor: pointer;
}

footer {
  background: #25293A;
  width: 100%;
  align-items: flex-end;
}

.footer-wrap {
  align-items: flex-end;
  background: url("../assets/home/bg-pattern-footer.svg"), url("../assets/home/bg-pattern-footer.svg");
  background-size: 1202px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 128px;
  display: flex;
  width: 100%;
  height: 100%;
  height: 1248px;
}

.countdown-wrap {
  width: 328px;
  margin: 50px 0 130px;
}
.countdown-wrap .countdown {
  margin: 0;
  padding: 0;
}
.countdown-wrap .countdown h3 {
  line-height: 48px;
  letter-spacing: 5px;
  color: #fff;
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.countdown-wrap .countdown h3 span {
  color: #5175ff;
}
.countdown-wrap .countdown #countdown-clock {
  display: flex;
  justify-content: space-between;
  width: 328px;
  margin: 18px 0 40px;
}
.countdown-wrap .countdown #days,
.countdown-wrap .countdown #hours,
.countdown-wrap .countdown #minutes,
.countdown-wrap .countdown #seconds {
  width: 72px;
  height: 92px;
  font-family: "Kumbh Sans", sans-serif;
  background-color: #333950;
  border-radius: 4px;
  color: #fff;
  text-align: center;
}
.countdown-wrap .countdown #days .count,
.countdown-wrap .countdown #hours .count,
.countdown-wrap .countdown #minutes .count,
.countdown-wrap .countdown #seconds .count {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  margin: 10px 0 0;
  width: 100%;
}
.countdown-wrap .countdown #days .unit,
.countdown-wrap .countdown #hours .unit,
.countdown-wrap .countdown #minutes .unit,
.countdown-wrap .countdown #seconds .unit {
  text-transform: lowercase;
  opacity: 50%;
  font-size: 12px;
  margin: 0 0 10px;
}
#signup {
  display: flex;
  flex-flow: column;
  height: 916px;
  align-items: center;
}
#signup .countdown-wrap {
  margin: 0;
}
#signup .countdown-wrap #countdown-date {
  color: #000;
}
#signup .countdown-wrap #countdown-clock #days,
#signup .countdown-wrap #countdown-clock #hours,
#signup .countdown-wrap #countdown-clock #minutes,
#signup .countdown-wrap #countdown-clock #seconds {
  background-color: rgba(81, 117, 255, 0.1);
  color: #5175ff;
}
#signup .countdown-wrap #countdown-clock #days .unit,
#signup .countdown-wrap #countdown-clock #hours .unit,
#signup .countdown-wrap #countdown-clock #minutes .unit,
#signup .countdown-wrap #countdown-clock #seconds .unit {
  color: #333950;
  font-weight: 700;
}
#signup .hero {
  width: 100%;
}

form {
  position: absolute;
  z-index: 10;
  width: 279px;
  padding: 24px;
  top: 684px;
  background-color: #fff;
  box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
  border-radius: 13px;
}
form input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #757B95;
  width: 247px;
  height: 29px;
  margin-bottom: 24px;
  color: #757B95;
  padding: 0 16px 16px;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
}
form input[type=submit] {
  width: 100%;
  height: initial;
}
form select {
  border: none;
  width: 247px;
  margin-bottom: 24px;
}

#footer-signup {
  background-position-y: -467px;
  transform: rotate(180deg);
  z-index: 0;
  height: 320px;
}

html {
  font-size: 16px;
}

body {
  background: #FAFAFA;
  margin: 0;
}

main {
  height: 1684px;
}

/*# sourceMappingURL=main.css.map */
