.subscription .sub-price, .hero .hero-wrap .hero-text h1 {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
}

.countdown-wrap .countdown #days,
.countdown-wrap .countdown #hours,
.countdown-wrap .countdown #minutes,
.countdown-wrap .countdown #seconds, .footer-wrap {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

#signup-form #form-submit, .countdown-wrap button, .hero .hero-wrap .hero-text button {
  width: 171px;
  color: #fff;
  background-color: #5175ff;
  line-height: 28px;
  padding: 14px 0;
  border: none;
  border-radius: 28px;
  transition: 0.1s;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
}
#signup-form #form-submit:hover, .countdown-wrap button:hover, .hero .hero-wrap .hero-text button:hover {
  background-color: #829Cff;
  transition: 0.1s;
  cursor: pointer;
}

#signup-form #plans .plan-option, #signup-form #plan-select #plan-selection {
  color: #333950;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
}
#signup-form #plans .plan-option span, #signup-form #plan-select #plan-selection span {
  opacity: 40%;
}

.hide {
  display: none;
}

.open {
  transform: rotate(180deg);
  transition: 0.2s;
}

.close {
  transform: rotate(0deg);
  transition: 0.2s;
}

@keyframes slide-down {
  from {
    height: 0;
  }
  to {
    height: 198px;
  }
}
.subscription .sub-price, .hero .hero-wrap .hero-text h1 {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
}

.countdown-wrap .countdown #days,
.countdown-wrap .countdown #hours,
.countdown-wrap .countdown #minutes,
.countdown-wrap .countdown #seconds, .footer-wrap {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

#signup-form #form-submit, .countdown-wrap button, .hero .hero-wrap .hero-text button {
  width: 171px;
  color: #fff;
  background-color: #5175ff;
  line-height: 28px;
  padding: 14px 0;
  border: none;
  border-radius: 28px;
  transition: 0.1s;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
}
#signup-form #form-submit:hover, .countdown-wrap button:hover, .hero .hero-wrap .hero-text button:hover {
  background-color: #829Cff;
  transition: 0.1s;
  cursor: pointer;
}

#signup-form #plans .plan-option, #signup-form #plan-select #plan-selection {
  color: #333950;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
}
#signup-form #plans .plan-option span, #signup-form #plan-select #plan-selection span {
  opacity: 40%;
}

.hide {
  display: none;
}

.open {
  transform: rotate(180deg);
  transition: 0.2s;
}

.close {
  transform: rotate(0deg);
  transition: 0.2s;
}

.hero {
  background: url("../assets/home/bg-pattern-header.svg"), url("../assets/home/bg-pattern-header.svg");
  background-position-x: center;
  background-position-y: -170px;
  background-repeat: no-repeat;
  background-size: 458px;
  display: flex;
  justify-content: center;
  transition: 0.5s;
}
.hero .hero-wrap {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.hero .hero-wrap .logo {
  margin: 46px 0;
  padding: 0;
  justify-content: center;
}
.hero .hero-wrap .logo img {
  width: 155px;
}
.hero .hero-wrap .illustration-charts {
  margin: 30px 0;
  width: 171px;
  justify-content: center;
}
.hero .hero-wrap .illustration-charts img {
  width: 100%;
}
.hero .hero-wrap .hero-text {
  width: 327px;
  text-align: center;
}
.hero .hero-wrap .hero-text h1 {
  font-size: 40px;
  color: #333950;
  line-height: 48px;
  margin-top: 0;
}
.hero .hero-wrap .hero-text p {
  font-family: "Kumbh Sans", sans-serif;
  color: #757B95;
  line-height: 26px;
  margin-bottom: 24px;
}
.hero .hero-wrap .hero-text button {
  box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.247159);
  transition: 0.25s;
}
.hero .hero-wrap .hero-text button:active {
  margin-top: 15px;
  box-shadow: 0px 5px 10px 0px rgba(23, 51, 154, 0.247159);
  transition: 0.25s;
  margin-bottom: -15px;
}

@media only screen and (min-width: 768px) {
  .hero {
    background-size: 666px;
    background-position-x: 395px;
    background-position-y: -164px;
  }
  .hero .hero-wrap {
    flex-flow: row wrap;
    justify-content: space-between;
    flex-basis: 682px;
    align-items: flex-start;
  }
  .hero .hero-wrap .logo {
    margin: 72px 0 114px;
    order: 1;
    flex-basis: 100%;
  }
  .hero .hero-wrap .illustration-charts {
    width: 281px;
    order: 3;
    margin: 19px 0 0 0;
  }
  .hero .hero-wrap .hero-text {
    order: 2;
    text-align: left;
    margin: 0 56px 0 0;
    width: 345px;
  }
}
@media only screen and (min-width: 1200px) {
  .hero {
    background-size: 1134px;
    background-position-x: 656px;
    background-position-y: -419px;
  }
  .hero .hero-wrap {
    flex-basis: 1135px;
  }
  .hero .hero-wrap .logo {
    margin: 81px 0 102px;
  }
  .hero .hero-wrap .hero-text {
    width: 540px;
    margin: 72px 60px 0 0;
  }
  .hero .hero-wrap .hero-text h1 {
    font-size: 56px;
    line-height: 64px;
  }
  .hero .hero-wrap .hero-text p {
    font-size: 18px;
    line-height: 28px;
  }
  .hero .hero-wrap .illustration-charts {
    width: 525px;
    margin: 0;
  }
}
.subscription .sub-price, .hero .hero-wrap .hero-text h1 {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
}

.countdown-wrap .countdown #days,
.countdown-wrap .countdown #hours,
.countdown-wrap .countdown #minutes,
.countdown-wrap .countdown #seconds, .footer-wrap {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

#signup-form #form-submit, .countdown-wrap button, .hero .hero-wrap .hero-text button {
  width: 171px;
  color: #fff;
  background-color: #5175ff;
  line-height: 28px;
  padding: 14px 0;
  border: none;
  border-radius: 28px;
  transition: 0.1s;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
}
#signup-form #form-submit:hover, .countdown-wrap button:hover, .hero .hero-wrap .hero-text button:hover {
  background-color: #829Cff;
  transition: 0.1s;
  cursor: pointer;
}

#signup-form #plans .plan-option, #signup-form #plan-select #plan-selection {
  color: #333950;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
}
#signup-form #plans .plan-option span, #signup-form #plan-select #plan-selection span {
  opacity: 40%;
}

.hide {
  display: none;
}

.open {
  transform: rotate(180deg);
  transition: 0.2s;
}

.close {
  transform: rotate(0deg);
  transition: 0.2s;
}

#subscriptions {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 890px;
}

.subscription {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  font-family: "Kumbh Sans", sans-serif;
  width: 327px;
  height: 508px;
  background: #fff;
  border-radius: 13px;
  margin: 16px 0;
}
.subscription:first-of-type {
  margin-top: 0;
}
.subscription:last-of-type {
  margin-bottom: 0;
}
.subscription .sub-name {
  width: 100%;
  text-align: center;
  font-size: 20px;
  margin: 0;
  padding: 40px 0 32px;
  color: #333950;
}
.subscription .sub-price {
  width: 100%;
  font-size: 56px;
  line-height: 64px;
  text-align: center;
  margin: 8px 0;
  padding: 0;
  color: #333950;
}
.subscription p {
  color: #333950;
  line-height: 28px;
  margin: 0;
  color: #333950;
}
.subscription .features {
  justify-content: center;
  width: 100%;
  margin: 48px 0 39px;
  padding: 0;
}
.subscription .features li {
  list-style: none;
  text-align: center;
  line-height: 28px;
  color: #757B95;
  padding: 8px 0;
}
.subscription .features li:first-of-type {
  padding-top: 0;
}
.subscription .features li:last-of-type {
  padding-bottom: 0;
}
.subscription button {
  width: 171px;
  background-color: rgba(81, 116, 255, 0.1526);
  color: #5175ff;
  font-size: 16px;
  line-height: 28px;
  padding: 14px 0;
  margin: 0 0 40px;
  border: none;
  border-radius: 28px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
}
.subscription:hover {
  background: url("../assets/home/bg-pattern-pricing.svg"), url("../assets/home/bg-pattern-pricing.svg");
  background-color: #5175ff;
  background-position: -277px -379px, -230px -170px;
  background-repeat: no-repeat, no-repeat;
  background-size: 879px;
  box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
  transition: 0.2s;
}
.subscription:hover .sub-name,
.subscription:hover .sub-price,
.subscription:hover p,
.subscription:hover .features li {
  color: #fff;
}
.subscription:hover .features li {
  opacity: 0.75;
}
.subscription:hover button {
  background-color: #fff;
  color: #5175ff;
  transition: 0.1s;
}
.subscription:hover button:hover {
  color: #829Cff;
  transition: 0.1s;
  cursor: pointer;
}
.subscription:hover button:active {
  background-color: #e0e0e0;
}

@media only screen and (min-width: 768px) {
  #subscriptions {
    top: 698px;
  }

  .subscription {
    width: 593px;
    height: 214px;
    padding: 48px;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 24px 0;
  }
  .subscription .sub-name {
    width: 100%;
    text-align: left;
    padding: 0;
  }
  .subscription .sub-price {
    width: 372px;
    text-align: left;
  }
  .subscription p {
    width: 372px;
  }
  .subscription .features {
    order: 5;
    width: 221px;
    margin: -98px 0 0 0;
    align-items: flex-start;
  }
  .subscription .features li {
    text-align: left;
  }
  .subscription button {
    order: 4;
    margin: 24px 201px 0 0;
    max-height: 56px;
  }
  .subscription:hover {
    background: url("../assets/home/bg-pattern-pricing.svg") #5175ff no-repeat -319px -282px;
    background-size: 880px;
  }
}
@media only screen and (min-width: 1200px) {
  #subscriptions {
    top: 928px;
    display: flex;
    flex-flow: row wrap;
    width: 1110px;
  }

  .subscription {
    width: 350px;
    height: 428px;
    padding: 40px 0;
    justify-content: center;
    margin: 0 15px;
  }
  .subscription:first-of-type {
    margin-left: 0;
  }
  .subscription:last-of-type {
    margin-right: 0;
  }
  .subscription .sub-name {
    text-align: center;
    margin-bottom: 32px;
  }
  .subscription .sub-price {
    width: 100%;
    text-align: center;
    margin: 8px 0;
  }
  .subscription p {
    width: 100%;
    text-align: center;
    margin-bottom: 56px;
  }
  .subscription .features {
    margin: 0 0 32px;
    align-items: initial;
    order: 4;
  }
  .subscription .features li {
    text-align: center;
  }
  .subscription button {
    margin: 0;
    order: 5;
  }
  .subscription:hover {
    background-position: center -379px;
  }
}
.hero .hero-wrap .hero-text h1, .subscription .sub-price {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
}

.countdown-wrap .countdown #days,
.countdown-wrap .countdown #hours,
.countdown-wrap .countdown #minutes,
.countdown-wrap .countdown #seconds, .footer-wrap {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

#signup-form #form-submit, .countdown-wrap button, .hero .hero-wrap .hero-text button {
  width: 171px;
  color: #fff;
  background-color: #5175ff;
  line-height: 28px;
  padding: 14px 0;
  border: none;
  border-radius: 28px;
  transition: 0.1s;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
}
#signup-form #form-submit:hover, .countdown-wrap button:hover, .hero .hero-wrap .hero-text button:hover {
  background-color: #829Cff;
  transition: 0.1s;
  cursor: pointer;
}

#signup-form #plans .plan-option, #signup-form #plan-select #plan-selection {
  color: #333950;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
}
#signup-form #plans .plan-option span, #signup-form #plan-select #plan-selection span {
  opacity: 40%;
}

.hide {
  display: none;
}

.open {
  transform: rotate(180deg);
  transition: 0.2s;
}

.close {
  transform: rotate(0deg);
  transition: 0.2s;
}

footer {
  background: #25293A;
  width: 100%;
  align-items: flex-end;
}

.footer-wrap {
  align-items: flex-end;
  background: url("../assets/home/bg-pattern-footer.svg"), url("../assets/home/bg-pattern-footer.svg");
  background-size: 1202px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 128px;
  background-attachment: fixed;
  display: flex;
  height: 1248px;
  transition: 0.5s;
}

.footer-bg {
  width: 1202px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.footer-bg img {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .footer-wrap {
    height: 986px;
    background-size: 1454px;
    background-position-y: 15px;
  }
}
@media only screen and (min-width: 1200px) {
  .footer-wrap {
    height: 603px;
    background-size: 2036px;
    background-position-x: -703px;
    background-position-y: -315px;
  }
}
#signup {
  height: 916px;
}

.signup-wrap {
  display: flex;
  justify-content: center;
}

.info-wrap {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}
.info-wrap .hero {
  width: 100%;
}
.info-wrap .countdown-wrap {
  margin: 0;
}
.info-wrap .countdown-wrap #signup-date {
  color: #000;
}
.info-wrap .countdown-wrap #countdown-clock #days,
.info-wrap .countdown-wrap #countdown-clock #hours,
.info-wrap .countdown-wrap #countdown-clock #minutes,
.info-wrap .countdown-wrap #countdown-clock #seconds {
  background-color: rgba(81, 117, 255, 0.1);
  color: #5175ff;
}
.info-wrap .countdown-wrap #countdown-clock #days .unit,
.info-wrap .countdown-wrap #countdown-clock #hours .unit,
.info-wrap .countdown-wrap #countdown-clock #minutes .unit,
.info-wrap .countdown-wrap #countdown-clock #seconds .unit {
  color: #333950;
  font-weight: 700;
}

#footer-signup-wrap {
  background-position-y: 95px;
  transform: rotate(180deg);
  height: 320px;
}

@media only screen and (min-width: 768px) {
  #signup {
    height: 986px;
  }

  #hero-signup {
    background: rgba(255, 255, 255, 0);
  }
  #hero-signup .hero-wrap {
    display: flex;
    justify-content: center;
  }
  #hero-signup .hero-wrap .logo {
    margin-bottom: 104px;
  }
  #hero-signup .hero-wrap .hero-text {
    width: 600px;
    text-align: center;
    margin: 0;
  }

  #footer-signup-wrap {
    background-position-y: 110px;
    background-size: 1454px;
    height: 380px;
  }
}
@media only screen and (min-width: 1200px) {
  #signup {
    display: flex;
    justify-content: center;
    max-height: 750px;
  }

  .signup-wrap {
    width: 1152px;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .signup-wrap .info-wrap {
    width: 540px;
    align-items: flex-start;
  }
  .signup-wrap #hero-signup .hero-wrap {
    justify-content: flex-start;
  }
  .signup-wrap #hero-signup .hero-wrap .logo {
    margin-bottom: 154px;
  }
  .signup-wrap #hero-signup .hero-wrap .hero-text {
    text-align: left;
    width: 100%;
  }
  .signup-wrap .countdown-wrap {
    width: 448px;
  }

  #footer-signup {
    background: url("../assets/sign-up/bg-pattern-side.svg") #25293A;
    background-position: center -781px;
    position: fixed;
    height: 100vh;
    width: 420px;
    right: 0;
    top: 0;
  }
}
.countdown-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 328px;
  margin: 50px 0 130px;
}
.countdown-wrap .countdown {
  margin: 0;
  padding: 0;
}
.countdown-wrap .countdown .countdown-date {
  line-height: 48px;
  letter-spacing: 5px;
  color: #fff;
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.countdown-wrap .countdown .countdown-date span {
  color: #5175ff;
}
.countdown-wrap .countdown #countdown-clock {
  display: flex;
  justify-content: space-between;
  width: 328px;
  margin: 18px 0 40px;
}
.countdown-wrap .countdown #days,
.countdown-wrap .countdown #hours,
.countdown-wrap .countdown #minutes,
.countdown-wrap .countdown #seconds {
  width: 72px;
  height: 92px;
  font-family: "Kumbh Sans", sans-serif;
  background-color: #333950;
  border-radius: 4px;
  color: #fff;
  text-align: center;
}
.countdown-wrap .countdown #days .count,
.countdown-wrap .countdown #hours .count,
.countdown-wrap .countdown #minutes .count,
.countdown-wrap .countdown #seconds .count {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  margin: 10px 0 0;
  width: 100%;
}
.countdown-wrap .countdown #days .unit,
.countdown-wrap .countdown #hours .unit,
.countdown-wrap .countdown #minutes .unit,
.countdown-wrap .countdown #seconds .unit {
  text-transform: lowercase;
  opacity: 50%;
  font-size: 12px;
  font-weight: 700;
  margin: 0 0 10px;
}
@media only screen and (min-width: 768px) {
  .countdown-wrap {
    width: 448px;
    margin: 100px 0 100px;
  }
  .countdown-wrap .countdown #countdown-clock {
    width: 448px;
  }
  .countdown-wrap .countdown #days,
.countdown-wrap .countdown #hours,
.countdown-wrap .countdown #minutes,
.countdown-wrap .countdown #seconds {
    width: 100px;
    height: 128px;
    border-radius: 13px;
  }
  .countdown-wrap .countdown #days .count,
.countdown-wrap .countdown #hours .count,
.countdown-wrap .countdown #minutes .count,
.countdown-wrap .countdown #seconds .count {
    font-size: 56px;
    margin: 30px 0 0;
  }
  .countdown-wrap .countdown #days .unit,
.countdown-wrap .countdown #hours .unit,
.countdown-wrap .countdown #minutes .unit,
.countdown-wrap .countdown #seconds .unit {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1200px) {
  .countdown-wrap {
    width: 1100px;
    margin: 317px 0 90px;
    justify-content: space-between;
    align-items: center;
  }
  .countdown-wrap .countdown {
    justify-content: flex-start;
  }
  .countdown-wrap .countdown #countdown-clock {
    margin-bottom: 0;
  }
  .countdown-wrap .countdown .countdown-date {
    text-align: left;
  }
  .countdown-wrap button {
    height: 56px;
  }
}
#signup-form {
  position: absolute;
  z-index: 10;
  width: 279px;
  padding: 24px;
  top: 684px;
  background-color: #fff;
  box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
  border-radius: 13px;
}
#signup-form .form-line {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 17px 16px;
  border-bottom: solid 1px #757B95;
}
#signup-form .form-line input {
  width: 247px;
  line-height: 28px;
  color: #757B95;
  border: none;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
}
#signup-form .form-line input:focus {
  outline: none;
}
#signup-form #form-submit {
  width: 100%;
  height: initial;
  margin-top: 40px;
}
#signup-form #plan-select {
  border-bottom: solid 1px #757B95;
  padding: 7px 16px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}
#signup-form #plan-select:hover {
  cursor: pointer;
}
#signup-form #plan-select #form-drop-button {
  width: 13px;
  height: 8px;
}
#signup-form #plans {
  animation: slide-down 0.3s;
  overflow: hidden;
  position: absolute;
  margin-top: 8px;
  background-color: white;
  border: 1px solid rgba(51, 57, 80, 0.153273);
  box-sizing: border-box;
  box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.747077);
  border-radius: 8px;
  width: 279px;
  padding: 8px 16px 0;
}
#signup-form #plans .plan-option {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #757B95;
  line-height: 28px;
  transition: 0.2s;
}
#signup-form #plans .plan-option:last-child {
  border: none;
}
#signup-form #plans .plan-option p {
  padding-left: 10px;
}
#signup-form #plans .plan-option .checkmark {
  width: 15px;
  height: 12px;
  padding-right: 5px;
  visibility: hidden;
}
#signup-form #plans .plan-option:hover {
  cursor: pointer;
  background-color: rgba(81, 117, 255, 0.1);
  transition: 0.2s;
}
#signup-form #plans .plan-option:hover:first-child {
  border-radius: 8px 8px 0 0;
}
#signup-form #plans .plan-option:hover:last-child {
  border-radius: 0px 0px 8px 8px;
}
#signup-form #plans .selected .checkmark {
  visibility: visible;
}
#signup-form .invalid input {
  color: #F05B5B;
  border-bottom: solid 1px #F05B5B;
}
#signup-form select {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #757B95;
  width: 247px;
  margin-bottom: 24px;
  margin-left: 0;
  appearance: none;
  background-color: transparent;
  padding: 8px 16px;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
#signup-form selectoption {
  color: #333950;
}
#signup-form select:focus {
  outline: none;
}
#signup-form .select::after {
  content: url("../assets/sign-up/icon-arrow-down.svg");
  width: 13px;
  height: 8px;
}

@media only screen and (min-width: 768px) {
  #signup-form {
    padding: 42px;
    width: 360px;
    height: 198px;
  }
  #signup-form input {
    width: 327px;
    height: 45px;
  }
  #signup-form #plan-select {
    width: 327px;
    height: 45px;
    padding: 17px 16px;
  }
  #signup-form #plans {
    width: 360px;
    padding: 8px 32px;
  }
  #signup-form #plans .plan-option {
    width: 296px;
  }
}
@media only screen and (min-width: 1200px) {
  #signup-form {
    position: unset;
    height: 508px;
    margin-top: 237px;
  }
}
html {
  font-size: 16px;
}

body {
  background: #FAFAFA;
  margin: 0;
}

main {
  height: 1684px;
}

@media only screen and (min-width: 768px) {
  main {
    height: 1196px;
  }
}

/*# sourceMappingURL=main.css.map */
