@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;600;700;&display=swap');

@import 'helpers/variables';
@import 'layout/hero';
@import 'layout/subscriptions';
@import 'layout/footer';
@import 'layout/signup';

html {
    font-size: 16px;
}

body {
    background: #FAFAFA;
    margin: 0;
}

main {
    height: 1684px;
}