@import '../helpers/variables';

footer {
    background: $darkbluegrey;
    width: 100%;
    align-items: flex-end;
}

.footer-wrap {
    @extend %center-flex;
    align-items: flex-end;
    background: url('../assets/home/bg-pattern-footer.svg'), url('../assets/home/bg-pattern-footer.svg');
    background-size: 1202px;
    background-repeat:no-repeat;
    background-position-x: center;
    background-position-y: 128px;
    background-attachment: fixed;
    display: flex;
    height: 1248px;
    transition: .5s;
}

.footer-bg {
    width: 1202px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    img {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .footer-wrap {
        height: 986px;
        background-size: 1454px;
        background-position-y: 15px;
    }
}

@media only screen and (min-width: 1200px) {
    .footer-wrap {
        height: 603px;
        background-size: 2036px;
        background-position-x: -703px;
        background-position-y: -315px;
    }
}