@import '../helpers/variables';

footer {
    background: $darkbluegrey;
    width: 100%;
    align-items: flex-end;
}

.footer-wrap {
    @extend %center-flex;
    align-items: flex-end;
    background: url('../assets/home/bg-pattern-footer.svg'), url('../assets/home/bg-pattern-footer.svg');
    background-size: 1202px;
    background-repeat:no-repeat;
    background-position-x: center;
    background-position-y: 128px;
    display: flex;
    width: 100%;
    height: 100%;
    height: 1248px;
}

@media only screen and (min-width: 768px) {
    .footer-wrap {
        height: 986px;
        background-size: 1454px;
        background-position-y: 15px;
    }
}