@import '../helpers/variables';

.hero {
    display: flex;
    flex-flow: column;
    align-items: center;
    background: url('../assets/home/bg-pattern-header.svg'), url('../assets/home/bg-pattern-header.svg');
    background-position-x: center;
    background-position-y: -170px;
    background-repeat: no-repeat;
    background-size: 458px;
    .logo {
        margin: 40px 0;
        padding: 0;
        justify-content: center;
        img {
            justify-self: center;;
            width: 155px;
        }
    }
    .hero-images {
        margin: 40px 0;
        padding: 0;
        justify-content: center;
        img {
            width: 171px;
        }
    }

    .hero-text {
        width: 327px;
        text-align: center;
        h1 {
            @extend %heading;
            font-size: 40px;
            color: $bluegrey;
            line-height: 48px;
        }
        p {
            font-family: $kumbh;
            color: $lightbluegrey;
            line-height: 26px;
            margin-bottom: 24px;
        }
        button {
            @extend %get-started;
            box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.247159);
            &:active {
                margin-top: 15px;
                box-shadow: 0px 5px 10px 0px rgba(23, 51, 154, 0.247159);
                transition: .25s;
            }
            transition: .25s;
        }
    }

}