#signup { 
    display: flex;
    flex-flow: column;
    height: 916px;
    align-items: center;
    .countdown-wrap {
        margin: 0;
        #countdown-date {
            color: #000;
        }
        #countdown-clock {
            #days,
            #hours,
            #minutes,
            #seconds {
                background-color: rgba(81, 117, 255, .1);
                color: $indigo;
                .unit {
                    color: $bluegrey;
                    font-weight: 700;
                }
            }
        }
    }
    .hero {
        width: 100%;
    }
}

form {
    position: absolute;
    z-index: 10;
    width: 279px;
    padding: 24px;
    top: 684px;
    background-color: #fff;
    box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
    border-radius: 13px;
    input {
        border : {
            top: none;
            left: none;
            right: none;
            bottom: solid 1px $lightbluegrey;
        }
        width: 247px;
        height: 29px;
        margin-bottom: 24px;
        color: $lightbluegrey;
        padding: 8px 16px;
        font : {
            family: $kumbh;
            size: 16px;
        }
        &[type="submit"] {
            @extend %get-started;
            width: 100%;
            height: initial;
        }
        &:focus {
            outline: none;
        }
    }
    
    select {
        border : {
            top: none;
            left: none;
            right: none;
            bottom: solid 1px $lightbluegrey;
        }
        width: 247px;
        margin : {
            bottom: 24px;
            left: 0;
        }
        appearance: none;
        background-color: transparent;
        padding: 8px 16px;
        font : {
            family: $kumbh;
            size: 16px;
            weight: 700;
        }
        &option {
            color: $bluegrey;
        }
        &:focus {
            outline: none;
        }
    }
    .select::after {
        content: url('../assets/sign-up/icon-arrow-down.svg');
        width: 13px;
        height: 8px;
    }
}

#footer-signup {
    background-position-y: -467px;
    transform: rotate(180deg);
    z-index: 0;
    height: 320px;
}