#signup {
    height: 916px;
}
.signup-wrap {
    display: flex;
    justify-content: center;
}
.info-wrap { 
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    .hero {
        width: 100%;
    }
    .countdown-wrap {
        margin: 0;
        #countdown-date {
            color: #000;
        }
        #countdown-clock {
            #days,
            #hours,
            #minutes,
            #seconds {
                background-color: rgba(81, 117, 255, .1);
                color: $indigo;
                .unit {
                    color: $bluegrey;
                    font-weight: 700;
                }
            }
        }
    }
}

#footer-signup-wrap {
    background-position-y: 95px;
    transform: rotate(180deg);
    height: 320px;
}

@media only screen and (min-width: 768px) {
    #signup {
        height: 986px;
    }
    #hero-signup {
        background: rgba(255, 255, 255, 0);
        .hero-wrap {
            display: flex;
            justify-content: center;
            .logo {
                margin-bottom: 104px;
            }
            .hero-text {
                width: 600px;
                text-align: center;
                margin: 0;
            }
        }
    }
    
    #footer-signup-wrap {
        background-position-y: 110px;
        background-size: 1454px;
        height: 380px;
    }
}

@media only screen and (min-width: 1200px) {
    #signup {
        display: flex;
        justify-content: center;
        max-height: 750px;
    }
    .signup-wrap {
        width: 1110px;
        flex-flow: row;
        justify-content: space-between;
        align-items: flex-start;
        .info-wrap {
            width: 540px;
            align-items: flex-start;
        }
        #hero-signup {
            .hero-wrap {
                justify-content: flex-start;
                .logo {
                    margin-bottom: 154px;
                }
                .hero-text {
                    text-align: left;
                    width: 100%;
                }   
            }
        }
        .countdown-wrap {
            width: 448px;
        }
    }

    #footer-signup {
        background: url('../assets/sign-up/bg-pattern-side.svg') $darkbluegrey;
        background-position: center -781px;
        position: fixed;
        height: 100vh;
        width: 420px;
        right: 0;
        top: 0;
    }
}