@import '../helpers/variables';

#subscriptions {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 890px;
}

.subscription {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    font-family: $kumbh;
    width: 327px;
    height: 508px;
    background: #fff;
    border-radius: 13px;
    margin: 16px 0;
    &:first-of-type {
        margin-top: 0;
    }
    &:last-of-type {
        margin-bottom: 0;
    }
    .sub-name {
        width: 100%;
        text-align: center;
        font-size: 20px;
        margin: 0;
        padding: 40px 0 32px;
        color: $bluegrey;
    }

    .sub-price {
        @extend %heading;
        width: 100%;
        font-size: 56px;
        line-height: 64px;
        text-align: center;
        margin: 8px 0;
        padding: 0;
        color: $bluegrey;
    }

    p {
        color: $bluegrey;
        line-height: 28px;
        margin: 0;
        color: $bluegrey;
    }
    .features {
        justify-content: center;
        width: 100%;
        margin: 48px 0 39px;
        padding: 0;
        li {
            list-style: none;
            text-align: center;
            line-height: 28px;
            color: $lightbluegrey;
            padding: 8px 0;
            &:first-of-type {
                padding-top: 0;
            }
            &:last-of-type {
                padding-bottom: 0;
            }
        }
    }
    button {
        width: 171px;
        background-color: rgba(81, 116, 255, 15.26%);
        color: $indigo;
        font-size: 16px;
        line-height: 28px;
        padding: 14px 0;
        margin: 0 0 40px;
        border: none;
        border-radius: 28px;
        font : {
            family: $kumbh;
            weight: 700;
        }
    }
    &:hover {
        background: url('../assets/home/bg-pattern-pricing.svg'), url('../assets/home/bg-pattern-pricing.svg');
        background-color: $indigo;
        background-position: -277px -379px, -230px -170px;
        background-repeat: no-repeat, no-repeat;
        background-size: 879px;
        box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
        transition: .2s;
        .sub-name,
        .sub-price,
        p,
        .features li{
            color: #fff;
            }
        .features li {
            opacity: .75;
        }
        button {
            background-color: #fff;
            color: $indigo;
            &:hover {
                background-color: #f0f0f0;
                transition: .3s;
                cursor: pointer;
            }
            &:active {
                background-color: #e0e0e0;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    #subscriptions {
        top: 698px;
    }
    .subscription {
        width: 593px;
        height: 214px;
        padding: 48px;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 24px 0;
        .sub-name {
            width: 100%;
            text-align: left;
            padding: 0;
        }
        .sub-price {
            width: 372px;
            text-align: left;
        }
        p {
            width: 372px;
        }
        .features {
            order: 5;
            width: 221px;
            margin: -98px 0 0 0;
            align-items: flex-start;
            li {
                text-align: left;
            }
        }
        button {
            order: 4;
            margin: 24px 201px 0 0;
            max-height: 56px;
        }
        &:hover {
            background: url('../assets/home/bg-pattern-pricing.svg') $indigo no-repeat -319px -282px;
            background-size: 880px;
        }
    }
}

@media only screen and (min-width: 1200px) {
    #subscriptions {
        top: 928px;
        display: flex;
        flex-flow: row wrap;
        width: 1110px;
    }
    .subscription {
        width: 350px;
        height: 428px;
        padding: 40px 0;
        justify-content: center;
        margin: 0 15px;
        &:first-of-type {
            margin-left: 0;
        }
        &:last-of-type {
            margin-right: 0;
        }
        .sub-name {
            text-align: center;
            margin-bottom: 32px;
        }
        .sub-price {
            width: 100%;
            text-align: center;
            margin: 8px 0;
        }
        p {
            width: 100%;
            text-align: center;
            margin-bottom: 56px;
        }
        .features {
            margin: 0 0 32px;
            align-items: initial;
            order: 4;
            li {
                text-align: center;
            }
        }
        button {
            margin: 0;
            order: 5;
        }
        &:hover {
            background-position: center -379px;
        }
    }
}