.countdown-wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 328px;
    margin: 50px 0 130px;
    .countdown {
        margin: 0;
        padding: 0;
        .countdown-date {
            line-height: 48px;
            letter-spacing: 5px;
            color: #fff;
            margin: 0;
            font : {
                family: $kumbh;
                size: 16px;
                weight: 700;
            }
            text : {
                transform: uppercase;
                align: center;
            }
            span {
                color: $indigo;
            }
        }
        #countdown-clock {
            display: flex;
            justify-content: space-between;
            width: 328px;
            margin: 18px 0 40px;
        }
        @each $el, $speed in $clock-divs {
            ##{$el} {
                @extend %center-flex;
                animation: slide-right-in $speed;
                width: 72px;
                height: 92px;
                font-family: $kumbh;
                background-color: $bluegrey;
                border-radius: 4px;
                color: #fff;
                text-align: center;
                .count {
                    font : {
                        size: 32px;
                        weight: 700;
                    }
                    line-height: 48px;
                    margin: 10px 0 0;
                    width: 100%;
                }
                .unit {
                    text-transform: lowercase;
                    opacity: 50%;
                    font : {
                        size: 12px;
                        weight: 700;
                    }
                    margin: 0 0 10px;
                    }
                }
            }
        }
    button {
        @extend %get-started;
    }
}

@media only screen and (min-width: 768px) {
    .countdown-wrap {
        width: 448px;
        margin: 100px 0 100px;

        .countdown {

            #countdown-clock {
                width: 448px;
                margin: 0 0 40px;
            }

        @each $el, $speed in $clock-divs {
            ##{$el}  {
                width: 100px;
                height: 128px;
                border-radius: 13px;
                .count {
                    font-size: 56px;
                    margin: 30px 0 0;
                }
                .unit {
                    font-size: 16px;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 1200px) {
    .countdown-wrap {
        width: 1100px;
        margin: 317px 0 90px;
        justify-content: space-between;
        align-items: center;
        .countdown {
            justify-content: flex-start;
            #countdown-clock {
                margin-bottom: 0;
            }
            .countdown-date {
                text-align: left;
            }
        }
        button {
            height: 56px;
        }
    }
}