$indigo: #5175ff;
$lightindigo: #829Cff;
$bluegrey: #333950;
$darkbluegrey: #25293A;
$lightbluegrey: #757B95;
$kindared: #F05B5B;
$kumbh: 'Kumbh Sans', sans-serif;

%heading {
    font : {
        family: $kumbh;
        weight: 700;
    }
}

%center-flex {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

%get-started {
    width: 171px;
    color: #fff;
    background-color: $indigo;
    line-height: 28px;
    padding: 14px 0;
    border: none;
    border-radius: 28px;
    font : {
        family: $kumbh;
        weight: 600;
        size: 16px;
    }
    &:hover {
        cursor: pointer;
    }
}