$indigo: #5175ff;
$lightindigo: #829Cff;
$bluegrey: #333950;
$darkbluegrey: #25293A;
$lightbluegrey: #757B95;
$kindared: #F05B5B;
$kumbh: 'Kumbh Sans', sans-serif;
$button-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.247159);
$button-shadow-active: 0px 5px 10px 0px rgba(23, 51, 154, 0.247159);

%heading {
    font : {
        family: $kumbh;
        weight: 700;
    }
}

%center-flex {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

%get-started {
    width: 171px;
    color: #fff;
    background-color: $indigo;
    line-height: 28px;
    padding: 14px 0;
    border: none;
    border-radius: 28px;
    transition: .1s;
    font : {
        family: $kumbh;
        weight: 600;
        size: 16px;
    }
    &:hover {
        background-color: $lightindigo;
        transition: .1s;
        cursor: pointer;
    }
}